/*
    CSS Stylesheet for the user part of the web.
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --header-height: 3rem;
    --nav-width: 68px;

    --first-color: #0f3fa9;
    --second-color: #ffa903;
    --white-color: #f3f4f7;
    --body-font: 'Montserrat', sans-serif;
    --nomal-font-size: 1rem;

    --z-fixed: 100;
}

*,::before,::after {
    box-sizing: border-box;
}

body {
    background-color: #12263f!important;
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--nomal-font-size);
    transition: .5s;
}

.body_movies{
  background-color: white!important;
  background-image: url('../img/fondo-2.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1,h2,h3,h4,h5,p,span,label {
    color: white!important;
}

a{
  text-decoration: none!important;
}

.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #1d3b60;
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img{
  width: 40px;
}

.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
  border-radius: 25px;
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--second-color);
}

.nav__logo-name{
  color: var(--second-color);
  font-weight: 700;
}

.nav__link{
  position: relative;
  color: var(--white-color)!important;
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--second-color)!important;
}

.nav__icon{
  font-size: 1.25rem;
}

.show{
  left: 0;
}

.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

.active{
  color: var(--second-color)!important;
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }

}

  .cards{
    margin-top: 100px;
  }

  .card-title{
    color: white!important;
  }

  .card-text{
    color: white!important;
  }

  .trending_movies{
    margin-top: 30px;
  }

  .title_trending{
    margin-top: 10px;
  }

  .cards_movie{
    border-radius: 25px!important;
    background-color: #12263f!important;
    border: 0px!important;
  }

  .card-m{
    background-color: #12263f!important;
    border: 0px!important;
  }
  
  .card-mov{
    border-radius: 25px!important;
    background-color: #1d3b60!important;
    border: 0px!important;
    margin-top: 25px;
  }

  .img-c{
    border-radius: 25px!important;
  }

  .card-desc {
    width: 18rem;
  }

  @media screen and (max-width: 577px){
    .card-desc {
      width: 100%;
    }
  }

  .card_mv{
    border-radius: 15px!important;
    background-color: #344966!important;
    border: 0px!important;
  }

  .c_movies{
    margin-top: 80px;
    width: 100% ;
    background-size: cover;
    border-radius: 10px!important;
  }

  .info_movie{
    height: 540px;
    overflow-y: scroll;
  }

  .i_movie{
    border-radius: 10px!important;
    height: 120px;
    margin-top: 20px;
  }

  .card_title{
    color: black!important;
    margin-left: -35px!important;
    margin-top: -10px;
    font-size: 16px;
  }

  .i_mov{
    height: 100%!important;
    border-radius: 15px 0px 0px 15px!important;
  }

  .main-description {
    color: white;
    font-weight: lighter;
}

.description_movies{
  margin-top: 300px;
}

@media screen and (max-width: 760px){
  .description_movies{
    margin-top: 10px;
  }
}

.card_mov{
  box-shadow: 0px 0px 10px -1px #000000;
  border-radius: 15px!important;
}

.description_movie{
  font-weight: lighter;
  font-size: 15px;
  margin-top: -8px;
}

.title_movie{
}

.classification_movie{
  font-size: 13px;
}

.minutes_movie{
  margin-left: 10px;
  font-size: 13px;
}

.year_movie{
  margin-left: 10px;
  font-size: 13px;
}

.category_movie{
  margin-left: 10px;
  font-size: 13px;
}

.loan_movie{
  margin-left: 20px;
  font-size: 13px;
  color: #ffa903!important;
}

.inf_m{
  display: inline-block;
}

.btn_movie{
  background-color: #ffa903!important;
  border-color: #ffa903!important;
  width: 30%;
  border-radius: 20px!important;
  bottom: 7px;
  position: relative;
}

.img_cards{
  height: 400px;
  width: 100%;
}

.banner_card{
  margin-top: -30px;
}

.col-lg-12{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.colmd-5{
  padding-left: 1px!important;
  padding-right: 0px!important;
}

.colmd-2{
  padding-left: 1px!important;
  padding-right: 0px!important;
}

.collg-6{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.mov-cards{
  height: 100%!important;
  width: 100%!important;
}

.row_card{
  height: 100%!important;
}

.i_movie{
  padding: 0px!important;
  margin:0px!important ;
  height: 100%!important;
  width: 100%!important;
  border-radius: 0px!important;
  border: 0px!important;
}

.cat_mov{
  color: black!important;
}

.title_mov{
  color: #ffa903!important;
}

.description_mov{
  color: black!important;
}

.img-overlay{
  background-color: rgba(0,0,0,0.4)!important;
}

.card_image{
  height: 100%!important;
  width: 100%!important;
}