/*
    CSS Stylesheet for the user part of the web.
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat'!important;
    background-color: #04102f!important;
}

.dashboard_user {
    margin-left: 10%;
    margin-top: 5%;
}

.card-img-overlaay {
    background-color: rgba(#000, 0.4)!important;
  }

